In [1]:
import pandas as pd

In [2]:
a = [["a", "b"], ["1", "2"]]

In [3]:
pd.DataFrame(a)

   0  1
0  a  b
1  1  2